<div class="container" style="bor">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <div class="row">
        <h1>Please Fill in all the information below !!!!</h1>
      </div>
      <div class="row">
        <form method="POST" action="/admin/addproduct">
          <div class="form-group">
            <label for="id-product" style="font-size: 20px;">Product-id: </label>
            <input
              type="text"
              name="product_id"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
             <label for="id-product" style="font-size: 20px;">Name: </label>
            <input
              type="text"
              name="name"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
             <label for="id-product" style="font-size: 20px;">Grade: </label>
            <input
              type="text"
              name="grade"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
            <label for="id-product" style="font-size: 20px;">Description: </label>
            <input
              type="text"
              name="description"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
            <label for="id-product" style="font-size: 20px;">Price: </label>
            <input
              type="text"
              name="price"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
            <label for="id-product" style="font-size: 20px;">Universe: </label>
            <input
              type="text"
              name="universe"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
          </div>
          <button type="submit" class="btn btn-success">
            CREATE
          </button>
        </form>
      </div>
    </div>
  </div>
</div>