<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <div class="row">
        <h1>Please choose id of record you want to see !!!!</h1>
      </div>
      <div class="row">
        <form method="POST" action="/product/s">
          <div class="form-group">
            <label for="id-product" style="font-size: 20px;">Record-id</label>
            <input
              type="text"
              name="product_id"
              class="form-control"
              id="Id_text"
              placeholder="ID"
              style="size: 20px;"
            />
          </div>
          <button type="submit" class="btn btn-success">
            Find
          </button>
        </form>
      </div>
    </div>
  </div>
</div>