 <!DOCTYPE html>
<html lang="en">

<!-- tanajil/  21 Nov 2019 03:28:46 GMT -->
<head>
    <title>Beamsaber - Store</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/chosen.min.css">
    <link rel="stylesheet" href="/assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/mobile-menu.css">
    <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="home">
<header class="header style7">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    Welcome back admin
                </div>
            </div>
            <div class="top-bar-right">
                <div class="header-language">
                    <div class="tanajil-language tanajil-dropdown">
                        <a href="#" class="active language-toggle" data-tanajil="tanajil-dropdown">
									<span>
										English (USD)
									</span>
                        </a>
                        <ul class="tanajil-submenu">
                            <li class="switcher-option">
                                <a href="#">
											<span>
												French (EUR)
											</span>
                                </a>
                            </li>
                            <li class="switcher-option">
                                <a href="#">
											<span>
												Japanese (JPY)
											</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="header-user-links">
                    <li>
                        <a href="/login">Login or Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                    <div class="logo">
                        <a href="/">
                            <img src="/assets/beam_saber_images/beamsaber_store_logo.png" alt="img" style="width: 80px; height: 80px;">
                            <label style="font-size: 20px;"> Beamsaber store </label>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                    <div class="block-search-block">

                        <!-- Search bar here /-->
                        <form class="form-search form-search-width-category" action="/product/search" method="POST">
                            <div class="form-content">
                                <div class="category">
                                    <select title="cate" data-placeholder="All Categories" class="chosen-select" name="search_with"
                                            tabindex="1">
                                        <option value="name">ProductName</option>
                                        <option value="grade">Grade</option>
                                        <option value="Afghanistan">Price Less Than</option>
                                        <option value="Aland Islands">Box</option>
                                        <option value="Albania">New Arrivals</option>
                                        <option value="Algeria">Delcans</option>
                                    </select>
                                </div>
                                <div class="inner">
                                    <input type="text" class="input" name="value" value="" placeholder="Search here">
                                </div>
                                <button class="btn-search" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12">
                    <div class="header-control">
                        <div class="block-minicart tanajil-mini-cart block-header tanajil-dropdown">
                            <a href="javascript:void(0);" class="shopcart-icon" data-tanajil="tanajil-dropdown">
                                Cart
                                <span class="count">
										0
										</span>
                            </a>
                            
                        </div>
                        <div class="block-account block-header tanajil-dropdown">
                            <a href="javascript:void(0);" data-tanajil="tanajil-dropdown">
                                <span class="flaticon-user"></span>
                            </a>
                            <h1> welcome back admin</h1> 
                        </div>
                        <a class="menu-bar mobile-navigation menu-toggle" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container rows-space-20">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="vertical-wapper block-nav-categori">
                    <div class="block-title">
							<span class="icon-bar">
								<span></span>
								<span></span>
								<span></span>
							</span>
                        <span class="text">All Categories</span>
                    </div>
                    <div class="block-content verticalmenu-content">
                        <ul class="tanajil-nav-vertical vertical-menu tanajil-clone-mobile-menu">
                            <li class="menu-item">
                                <a href="\product" class="tanajil-menu-item-title" title="New Arrivals">High Grade</a>
                            </li>
                            <li class="menu-item">
                                <a title="Master Grade" href="\product" class="tanajil-menu-item-title">Master Grade</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a title="Accessories" href="\product" class="tanajil-menu-item-title">Accessories</a>
                                <span class="toggle-submenu"></span>
                                <ul role="menu" class=" submenu">
                                    <li class="menu-item">
                                        <a title="Popular" href="\product" class="tanajil-item-title">Popular</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Interior" href="\product" class="tanajil-item-title">Prebuild</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="New Arrivals" href="\product" class="tanajil-item-title">New Arrivals</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Accessories" href="\product" class="tanajil-item-title">Accessories</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Display Case" href="\product" class="tanajil-item-title">Display Case</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a title="Prebuild" href="\product" class="tanajil-menu-item-title">Prebuild</a>
                            </li>
                            <li class="menu-item">
                                <a title="High Grade" href="\product" class="tanajil-menu-item-title">High Grade</a>
                            </li>
                            <li class="menu-item">
                                <a title="MiniFigure" href="\product" class="tanajil-menu-item-title">MiniFigure</a>
                            </li>
                            <li class="menu-item">
                                <a title="Option Part" href="\product" class="tanajil-menu-item-title">Option Part</a>
                            </li>
                            <li class="menu-item">
                                <a title="Master Grade" href="\product" class="tanajil-menu-item-title">Master Grade</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="tanajil-clone-mobile-menu tanajil-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  menu-item-has-children">
                                <a href="/" class="tanajil-menu-item-title" title="Home">Home</a>
                                <span class="toggle-submenu"></span>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="/product" class="tanajil-menu-item-title" title="Shop">Product</a>
                                <span class="toggle-submenu"></span>
                                <ul class="submenu">
                                    <li class="menu-item">
                                        <a href="/product" id="menu_item_all_product">All Product</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gridproducts_leftsidebar.html">Grid Left sidebar</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gridproducts_bannerslider.html">Grid Bannerslider</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="listproducts.html">List</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item  menu-item-has-children">
                                <a href="inblog_right-siderbar.html" class="tanajil-menu-item-title"
                                   title="Admin Tool">Admin Tool</a>
                                <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#" class="tanajil-menu-item-title" title="Blog Style">User Management</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="submenu">
                                            <li class="menu-item">
                                                <a href="#">View user info</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">Delete user</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">Edit user data</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#" class="tanajil-menu-item-title" title="Post Layout">Product Management</a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="submenu">
                                            <li class="menu-item">
                                                <a href="/product/s">Edit Product Data</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/product/s">Delete Product</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/product/add">Add New Product</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                
                                
                            </li>
                            <li class="menu-item">
                                <a href="/about_us" class="tanajil-menu-item-title" title="About">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="#">
                    <img src="beam_saber_images\beamsaber_store_logo.png" alt="img">
                </a>
            </div>
        </div>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="Enter keywords to search...">
                            <input type="submit" class="submit button" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item mobile-settings-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="block-sub-item">
                    <h5 class="block-item-title">Currency</h5>
                    <form class="currency-form tanajil-language">
                        <ul class="tanajil-language-wrap">
                            <li class="active">
                                <a href="#">
											<span>
												English (USD)
											</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
											<span>
												French (EUR)
											</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
											<span>
												Japanese (JPY)
											</span>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>
<!-- END OF HEADER /-->
 {{{ body }}}
<!-- FOOTER /-->
<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="widget-box">
                        <div class="single-img">
                            <a href="/">
                            <img src="/assets/beam_saber_images/beamsaber_store_logo.png" alt="img" style="width: 80px; height: 80px;">
                            <label style="font-size: 20px; font-corlor: wheat"> Beamsaber store </label></a>
                        </div>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#"><span class="flaticon-placeholder"></span>45 Grand Central Terminal New
                                    York,NY 1017 United State USA</a>
                            </li>
                            <li class="menu-item">
                                <a href="#"><span class="fa fa-phone"></span>(+123) 456 789 - (+123) 666 888</a>
                            </li>
                            <li class="menu-item">
                                <a href="#"><span class="fa fa-envelope-o"></span>CelestialBeings@Co.uk</a>
                            </li>
                            <li class="menu-item">
                                <a href="#"><span class="flaticon-clock"></span>Mon-Sat 9:00pm - 5:00pm Sun : Closed</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-2">
                    <div class="tanajil-custommenu default">
                        <h2 class="widgettitle">Quick Menu</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">New arrivals</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Gunpla Lore</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Prebuild</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Reddit Page</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">News</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-2">
                    <div class="tanajil-custommenu default">
                        <h2 class="widgettitle">Information</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">FAQs</a>
                            </li>
                            <li class="menu-item">
                                <a href="/check_out">Track Order</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Delivery</a>
                            </li>
                            <li class="menu-item">
                                <a href="/contact">Contact Us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Return</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="tanajil-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">Newsletter</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                Get notified of new products, limited releases, and more.
                            </div>
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="Your email letter">
                            <button class="button btn-submit submit-newsletter">SUBSCRIBE</button>
                        </div>
                    </div>
                    <div class="tanajil-socials">
                        <ul class="socials">
                            <li>
                                <a href="#" class="social-item" target="_blank">
                                    <i class="icon fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-item" target="_blank">
                                    <i class="icon fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-item" target="_blank">
                                    <i class="icon fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 border-custom">
                    <span></span>
                </div>
            </div>
            <div class="footer-end">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="coppyright">
                            <a href="templateshub.net">Templateshub</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="tanajil-payment">
                            <img src="/assets/images/payments.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index-2.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="login.html">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop">
    <i class="fa fa-angle-double-up"></i>
</a>
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/jquery.plugin-countdown.min.js"></script>
<script src="/assets/js/jquery-countdown.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mobile-menu.js"></script>
<script src="/assets/js/chosen.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.elevateZoom.min.js"></script>
<script src="/assets/js/jquery.actual.min.js"></script>
<script src="/assets/js/fancybox/source/jquery.fancybox.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/owl.thumbs.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src='/https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
<script src="/assets/js/frontend-plugin.js"></script>
<script src="/assets/fancytable/src/fancyTable.min.js"></script>
</body>






