<div class="card">
  <h2 class="card-header text-center font-weight-bold text-uppercase py-4">
    Please fill in the following information in the table below !!!!!
  </h2>
  <div class="card-body">
    <div id="table_product" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a
          href="#!"
          class="text-success"
        ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
        id="add_product_table"
      >
        <thead>
          <tr>
            <th class="text-center">Product id: </th>
            <th class="text-center">Product Name</th>
            <th class="text-center">Grade</th>
            <th class="text-center">Description</th>
            <th class="text-center">Universe</th>
            <th class="text-center">Price</th>
            <th class="text-center">Picture Link</th>
            <th class="text-center">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_id"
            ></td>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_name"
            ></td>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_grade"
            ></td>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_description"
            ></td>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_universe"
            ></td>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_price"
            ></td>
            <td
              class="pt-3-half"
              contenteditable="true"
              id="th_product_remove"
            ></td>
            <td class="table-wild" >
              <span class="table-edit"><button
                  type="button"
                  class="btn-rounded edit"
                  style="background-color: darkolivegreen"
                >
                  <i class="bi bi-plus-lg"></i>

                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>